<!DOCTYPE html>
<html>
<head>
    <title>EcoPeace Chatbot</title>
    <style>
        .response-section {
            margin-top: 20px;
        }
        .response-section h2 {
            margin-bottom: 10px;
        }
        .response-section ul {
            list-style-type: disc;
            margin-left: 20px;
        }
        .response-section a {
            color: #2a7ae2;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <div class="topnav-content">
            <a href="/home">Home</a>
            <a href="/join">Join us</a>
            <a href="/profile">Profile</a>
            <a href="/chatbot">chatbot</a>
            <a href="/signout">Signout</a>
        </div>
    </div>

    <h1>Welcome to the EcoPeace Chatbot</h1>
    <form method="POST">
        <label for="message">Ask a question:</label>
        <br>
        <textarea id="message" name="message" required placeholder="Ask a question related to EcoPeace or the Environment" rows="4" cols="50"></textarea>
        <button type="submit" >Submit</button>
    </form>

    {% if response %}
    <div class="response-section">
        <h2>Chatbot Response:</h2>
        <p>{{ response|safe }}</p>
    </div>
    {% endif %}
</body>
</html>