<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Teacher</title>
</head>
<body>
    <div class="topnav">
        <div class="topnav-content">
            <a href="/home">Home</a>
            <a href="/join">Join us</a>
            <a href="/profile">Profile</a>
            <a href="/chatbot">chatbot</a>
            <a href="/signout">Signout</a>
        </div>
    </div>

<details>
  <summary>Intro Lesson</summary>
  <p><a href="https://docs.google.com/presentation/d/1ZeT3QgN3qC_wZ-VeGkVnLsIfcsqgijmUL9xitJiUg-8/present#slide=id.p" target="_blank">Intro Lesson</a>
  </p>
</details>
<br>
<br>
<details>
  <summary>First Lesson</summary>
  <p><a href="https://docs.google.com/presentation/d/1PDwsxGApkOXkEX0sRqk4_CW20zyxUv21ZdBlcGI6J18/present#slide=id.p" target="_blank">Lesson 1</a>
  </p>
</details>
<br>
<br>
<details>
  <summary>Second Lesson</summary>
  <p><a href="https://docs.google.com/presentation/d/1SgzRuwpTtFxaFQ7_7r2jArplH60h3e9TcN7UXsgDs8g/present#slide=id" target="_blank">Lesson 2</a>
  </p>
</details>
<br>
<br>
<details>
  <summary>Third Lesson</summary>
  <p><a href="" target="_blank">Add link later...</a>
  </p>
</details>

</body>
</html>



</body>
</html>